@media (max-width:1600px) {
    .about {
        padding-top: 12vh;

    }

    .price {
        &__text {
            font-size: 22px;
        }

        &__socials {
            a {
                font-size: 24px;
            }
        }
    }
}


@media (max-width:1440px) {
    .about {
        padding-top: 15vh;

        &__image {
            img {
                height: 600px;
            }
        }

        &__text {
            width: 60%;
        }

        &__title {
            margin-bottom: 10px;
        }

        &__block {
            width: 90%;
            margin: 0 auto;
        }
    }

    .services {

        &__block {
            width: 90%;
            margin: 0 auto;
        }

        &__text {
            font-size: 22px;
            width: 55%;
        }

        &__image {
            img {
                height: 600px;
            }
        }
    }

    .price {
        &__text {
            font-size: 22px;
        }

        &__socials {
            a {
                font-size: 24px;
            }
        }
    }
}

@media (max-width:1360px) {
    .header {

        &__logo {
            img {
                width: 130px;
            }


        }

        &__contacts {
            a {
                font-size: 24px;

                &:hover {
                    font-size: 26px;
                }
            }

        }

        &__title {
            font-size: 45px;
        }

        &__list {


            a li {
                font-size: 22px;
            }
        }
    }

    .about {
        &__image {
            img {
                height: 500px;
            }
        }

        &__title {
            font-size: 34px;
        }

    }

    .services {
        &__image {
            img {
                height: 600px;
            }
        }

        &__title {
            font-size: 34px;
            margin-bottom: 20px;
        }



        &__list {
            font-size: 20px;

            li {
                margin-top: 2%;
            }
        }
    }

    .price {

        &__title {
            margin-bottom: 10px;
        }

        &__block {
            width: 65%;
        }

        &__text {
            p {
                color: rgb(29, 29, 29);
            }
        }
    }
}

@media (max-width:1280px) and (max-height:1024px) {
    .about {
        padding-top: 15%;

        &__image {
            img {
                height: 600px;
            }
        }
    }

    .services {
        padding-top: 12%;

        &__text {
            width: 70%;

            li {
                font-size: 22px;
            }
        }

        &__image {
            img {
                height: 500px;
            }
        }
    }

    .price {
        padding-top: 10%;

        &__image {
            img {
                &:hover {
                    transform: scale(6) translate(35px);
                }
            }
        }
    }
}

@media (max-width:1280px)and(max-height:900px) {
    .about {
        padding-top: 10%;
    }

    .services {
        padding-top: 6%;
    }

    .price {
        padding-top: 6%;

        &__text {}

    }
}