@media (max-width:1600px) {
    .about {
        padding-top: 12vh;

    }

    .price {
        &__text {
            font-size: 22px;
        }

        &__socials {
            a {
                font-size: 24px;
            }
        }
    }
}


@media (max-width:1440px) {
    .about {
        padding-top: 15vh;

        &__image {
            img {
                height: 600px;
            }
        }

        &__text {
            width: 60%;
        }

        &__title {
            margin-bottom: 10px;
        }

        &__block {
            width: 90%;
            margin: 0 auto;
        }
    }

    .services {

        &__block {
            width: 90%;
            margin: 0 auto;
        }

        &__text {
            font-size: 22px;
            width: 55%;
        }

        &__image {
            img {
                height: 600px;
            }
        }
    }

    .price {
        &__text {
            font-size: 22px;
        }

        &__socials {
            a {
                font-size: 24px;
            }
        }
    }
}

@media (max-width:1360px) {
    .header {

        &__logo {
            img {
                width: 130px;
            }


        }

        &__contacts {
            a {
                font-size: 24px;

                &:hover {
                    font-size: 26px;
                }
            }

        }

        &__title {
            font-size: 45px;
        }

        &__list {


            a li {
                font-size: 22px;
            }
        }
    }

    .about {
        &__image {
            img {
                height: 500px;
            }
        }

        &__title {
            font-size: 34px;
        }

    }

    .services {
        &__image {
            img {
                height: 600px;
            }
        }

        &__title {
            font-size: 34px;
            margin-bottom: 20px;
        }



        &__list {
            font-size: 20px;

            li {
                margin-top: 2%;
            }
        }
    }

    .price {

        &__title {
            margin-bottom: 10px;
        }

        &__block {
            width: 65%;
        }

        &__text {
            p {
                color: rgb(29, 29, 29);
            }
        }
    }
}

@media (max-width:1280px) and (max-height:1024px) {
    .about {
        padding-top: 15%;

        &__image {
            img {
                height: 600px;
            }
        }
    }

    .services {
        padding-top: 12%;

        &__text {
            width: 70%;

            li {
                font-size: 22px;
            }
        }

        &__image {
            img {
                height: 500px;
            }
        }
    }

    .price {
        padding-top: 10%;

        &__image {
            img {
                &:hover {
                    transform: scale(6) translate(35px);
                }
            }
        }
    }
}

@media (max-width:1280px)and(max-height:900px) {
    .about {
        padding-top: 10%;
    }

    .services {
        padding-top: 6%;
    }

    .price {
        padding-top: 6%;


    }
}


@media (max-width:1280px)and(max-height:800px) {
    .about {

        &__block {
            width: 95%;
        }

        &__text {
            font-size: 21px;
        }

        &__image {
            img {
                height: 500px;
            }
        }

        padding-top: 10%;
    }

    .services {
        padding-top: 4.5%;

        &__block {
            width: 95%;
        }
    }

    .price {
        padding-top: 4%;

        &__block {
            width: 75%;
        }

        &__image {
            margin-left: 100px;
        }

        &__socials {
            margin-right: 250px;
        }

    }
}

@media (max-width:1280px) {
    .about {
        padding-top: 8%;

        &__block {
            width: 95%;
        }

        &__text {
            font-size: 20px;

        }

        &__image {
            img {
                height: 500px;
            }
        }

    }

    .services {
        padding-top: 6%;

        &__block {
            width: 95%;
        }

        &__list {
            li {
                font-size: 20px;
            }
        }
    }

    .price {
        padding-top: 2%;

        &__block {
            width: 80%;
        }

        &__image {
            margin-left: 100px;
        }

        &__socials {
            margin-right: 250px;
        }

        &__text {
            font-size: 21px;
        }
    }
}

@media (max-width:1152px) {
    .header {
        &__title {
            font-size: 40px;
        }

        &__logo {
            img {
                width: 130px;
            }
        }

        &__contacts {
            a {
                font-size: 17px;

                &:hover {
                    font-size: 18px;
                }
            }
        }
    }

    .about {
        padding-top: 12%;

        &__image {
            img {
                height: 500px;
            }
        }

        &__text {
            font-size: 20px;
        }
    }

    .services {
        &__list {
            li {
                font-size: 20px;
            }
        }
    }
}

@media (max-width:1024px) {
    .header {
        &__title {
            font-size: 32px;
        }

        &__logo {
            img {
                width: 100px;
            }
        }

        &__contacts {
            a {
                font-size: 20px;

                &:hover {
                    font-size: 22px;
                }
            }
        }
    }

    .about {
        padding-top: 12%;

        &__title {
            font-size: 30px;
        }

        &__image {
            img {
                height: 500px;
            }
        }

        &__text {
            font-size: 18px;
        }
    }

    .services {
        &__list {
            li {
                font-size: 18px;
            }
        }
    }

    .price {
        &__text {
            font-size: 18px;


            span {
                font-family: 'Rubik Dirt';
                font-size: 30px;
            }

            .price__about {
                color: white;
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 24px;

            }

            .price__can {
                font-family: 'Rubik Dirt';
                color: yellow;
            }
        }

        &__image {}

        &__center {}

        &__socials {
            margin: 0 0 0 30px;

            a {
                font-size: 18px;
                margin-top: 10px;

                &:first-child {
                    margin: 0;
                }

                &:hover {
                    font-size: 20px;
                }
            }

            span {}
        }
    }

}

@media (max-width:800px) {
    .header {
        &__title {
            font-size: 26px;
        }

        &__logo {
            img {
                width: 80px;
            }
        }

        &__list {
            a {
                li {
                    font-size: 18px;
                }

            }
        }

        &__contacts {
            margin-right: 0;

            a {
                font-size: 16px;

                &:hover {
                    font-size: 18px;
                }
            }
        }

    }

    .about {
        &__text {
            font-size: 14px;
            width: 80%;
        }

        &__block {
            padding: 20px;
        }

        &__image {
            img {
                height: 400px;
            }
        }
    }

    .services {
        padding-top: 5%;

        &__block {
            padding: 15px;
        }

        &__image {
            img {
                height: 400px;
            }
        }

        &__text {
            width: 80%;

            li {
                font-size: 14px;

                &::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    left: -30px;
                }
            }
        }
    }

    .price {
        padding-top: 1%;

        &__title {
            font-size: 26px;
        }

        &__text {
            font-size: 16px;
        }

        .price__about {
            font-size: 16px;
        }

        &__text {
            font-size: 16px;


            span {
                font-family: 'Rubik Dirt';
                font-size: 24px;
            }

        }

        &__image {
            margin-left: 0;
        }

        &__socials {
            margin: 0 0 0 20px;


            a {
                font-size: 14px;
                margin-top: 10px;

                &:hover {
                    font-size: 20px;
                }

                span {
                    font-size: 20px;
                    width: 30px;
                    height: 30px;
                }
            }

        }
    }
}

@media (max-width:768px) {
    .header {}

    .about {
        padding-top: 100px;
    }

    .services {
        padding-top: 70px;
    }

    .price {
        padding-top: 30px;
    }
}

@media (max-width:725px) {
    .header {
        &__title {
            font-size: 20px;
        }

        &__logo {
            img {
                width: 60px;
            }
        }

        &__contacts {
            a {
                font-size: 12px;

                &:hover {
                    font-size: 12px;
                }
            }
        }

        &__list {
            a {
                li {
                    font-size: 12px;
                }
            }
        }
    }

    .about {
        padding-top: 17 0px;



        &__image {
            img {
                height: 260px;
            }
        }

        &__block {
            border-radius: 50px;
            padding: 20px;
        }

        &__title {
            font-size: 18px;
        }



        &__text {
            width: 100%;
            font-size: 14px;
            padding: 15px;


            br {
                display: block;
                content: "";
                margin-top: 20px;
            }

        }
    }

    .services {
        padding-top: 100px;

        &__block {
            padding: 15px;
            border-radius: 50px;
            flex-direction: column;
        }

        &__image {
            img {
                display: none;
            }
        }

        &__title {}

        &__text {
            width: 100%;
        }

        &__list {

            li {
                font-size: 16px;
            }
        }
    }

    .price {
        padding-top: 50px;

        &__title {
            font-size: 20px;
        }

        &__text {
            font-size: 14px;

            span {
                font-family: 'Rubik Dirt';
                font-size: 20px;
            }

            .price__about {
                color: white;
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 14px;

            }

            .price__can {
                font-family: 'Rubik Dirt';
                color: yellow;
            }
        }

        &__image {
            img {
                display: none;
            }
        }

        &__center {
            margin: 0 auto;
            width: 200px;
        }

        &__socials {
            width: 300px;
            margin: 0 auto;

            a {
                font-size: 16px;

                span {
                    padding-bottom: .2px;
                    font-size: 20px;
                    width: 25px;
                    height: 25px;
                }
            }
        }

        &__block {
            border-radius: 50px;

        }

        &__price {
            width: 120px;
            font-size: 25px;
            filter: blur(0px);

            &:hover {
                filter: blur(px);
                transition: all 2s;
            }
        }

        &__attemption {
            padding: 0;
            margin-top: 5px;
            height: 50px;
            width: 200px;
            font-size: 10px;
        }
    }

}

@media (max-width:568px) {

    .about {
        &__block {
            padding: 10px;
            flex-direction: column;
        }

        &__image {
            img {
                height: 200px;
            }
        }

        &__text {
            width: 100%;
            font-size: 12px;
            padding: 0 10px 0 50px;

            br {
                display: block;
                content: "";
                margin-top: 10px;
            }
        }
    }

    .services {
        &__title {
            font-size: 24px;
        }

        &__text {
            li {
                font-size: 14px;
            }
        }
    }

    .price {
        &__socials {
            margin-left: 20px;
        }

        &__text {

            a {
                &:first-child {
                    margin-top: 10px;
                }

                font-size: 14px;
                margin-top: 3px;

                span {
                    font-size: 16px;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width:450px) {

    .header {

        &__title {
            font-size: 22px;
            color: white;

            span {
                color: lightcoral;
            }
        }

        &__list {
            display: none;
        }

        &__contacts {
            display: none;
        }
    }

    .about {
        &__text {
            font-size: 10px;
            padding: 25px;
            width: 100%;

            br {
                display: block;
                content: "";
                margin-top: 5px;
            }
        }

        &__title {
            width: 150px;
        }

        &__block {
            flex-direction: column;
            padding: 10px;
        }

        &__image {
            img {
                height: 200px;
            }
        }
    }

    .services {
        &__title {
            width: 150px;
            font-size: 22px;
        }

        &__text {
            li {
                font-size: 11px;
            }
        }
    }

    .price {
        padding-top: 50px;

        &__title {
            width: 150px;

        }

        &__socials {
            margin-left: 20px;
        }

        &__text {
            padding: 6px;
            font-size: 12px;

            span {
                font-size: 16px;
            }

            a {
                &:first-child {
                    margin-top: 10px;
                }

                font-size: 16px;
                margin-top: 3px;

                span {
                    font-size: 16px;
                    margin-right: 10px;
                }
            }


        }

        &__block {
            width: 95%;
        }
    }
}



@media (max-width:320px) {

    .header {

        &__title {
            font-size: 20px;
            color: white;

            span {
                color: lightcoral;
            }
        }

        &__list {
            display: none;
        }

        &__contacts {
            display: none;
        }
    }

    .about {

        &__title {
            font-size: 16px;
            width: 200px;
        }

        &__text {
            font-size: 10px;
            padding: 30px;
            width: 100%;

            br {
                display: block;
                content: "";
                margin-top: 5px;
            }
        }

        &__block {
            flex-direction: column;
            padding: 7px;
        }

        &__image {
            img {
                height: 150px;
            }
        }
    }

    .services {
        padding-top: 100px;

        &__title {
            font-size: 22px;
            width: 200px;
        }

        &__block {
            padding: 5px;
        }

        &__text {

            li {
                font-size: 11px;
            }
        }
    }

    .price {
        padding-top: 50px;

        &__block {
            width: 95%;
        }

        &__title {
            width: 200px;
        }

        &__socials {
            margin-left: 20px;
        }

        &__text {
            padding: 6px;
            font-size: 12px;

            span {
                font-size: 18px;
            }

            a {
                &:first-child {
                    margin-top: 10px;
                }

                font-size: 16px;
                margin-top: 3px;

                span {
                    font-size: 16px;
                    margin-right: 10px;
                }
            }
        }
    }
}